body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
}

header,
footer {
  background-color: #ccac00;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #8a7300;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

h1,
h2 {
  color: #ccac00;
}

footer {
  font-size: 8px;
  margin-top: 20px;
}
