body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  min-width: 200px;
}

header {
  background-color: navy;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #3498db;
  padding: 5px;
}

h1 strong {
  color: #3498db;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#home p {
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

#home a {
  text-decoration: none;
  color: #fff;
  background-color: navy;
  border: 1px solid #3498db;
  border-radius: 24px;
  padding: 15px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

.about h2 {
  text-align: center;
}

.menu-btn {
  text-decoration: none;
  color: #fff;
}

#home {
  background-color: url(img/audacity.jpg);
}

#companyInfo {
  display: flex;
  justify-content: space-around;
}
#vision,
#mission {
  width: 200px;
  border-radius: 4px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#services {
  display: flex;
  justify-content: space-around;
}

.col-1,
.col-2,
.col-3 {
  width: 300px;
  height: fit-content;
  border-radius: 4px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

#contact {
  background-color: #3498db;
}

#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}

footer {
  background-color: navy;
  color: #fff;
  padding: 10px;
  text-align: center;
}
